@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 20px 20px;
}
h1{
    color: darkgreen;
}
.btn{
    cursor: pointer;
    color: white;
    background: none;
    background-color: darkgreen;
    border: 0;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 15px;
}
.currency{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.currency input{
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    padding: 7px 10px;
    outline: none;
}
.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}